<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ESTUDIOConnectionString" connectionString="Data Source=.;Initial Catalog=ESTUDIO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>
    <add key="c503680c-ed43-4098-8beb-399e1d568ac0" value="Data Source=(local);Initial Catalog=ESTUDIO; Connect Timeout=30;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>