<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="c503680c-ed43-4098-8beb-399e1d568ac0" value="Data Source=ELIOD-PC;Initial Catalog=ESTUDIO; Connect Timeout=30;Integrated Security=SSPI;Persist Security Info=False;Packet Size=4096" />
  </appSettings>
</configuration>